@model IEnumerable<SurvivalPrep.DBModels.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string money = "";
    if (@ViewData["Money"] != null)
    {
        money = @ViewData["Money"].ToString();
    }
}


<div style="clear: both">
    <h1 class="title">Shop</h1>

    <b class="money" id="money" name="money">Money: @money</b>
</div>


<table class="table" style="text-align: center; border: none">
    @{
        int id = 0;
    }
    <tbody>
        <!-- https://stackoverflow.com/questions/9198549/razor-view-dynamic-table-rows -->
        @for (int i = 0; i < Model.Count(); i += 3)
        {
            <tr>
                @for (int j = 0; j < 3 && i + j < Model.Count(); j++)
                {
                    <td class="item-box" id="box_@id">
                        <img src="@Model.ElementAt(i + j).ImageLink" class="image" />
                        <br />
                        <b id="name_@id">@Html.DisplayFor(model => model.ElementAt(i + j).Name)</b>
                        <br />
                        <div class="info">
                            Cost: <span id="cost_@id">@Html.DisplayFor(model => model.ElementAt(i + j).Cost)</span> &nbsp; &nbsp;
                            Score: <span id="score_@id">@Html.DisplayFor(model => model.ElementAt(i + j).Score)</span>
                            <br />
                            Disaster(s): @String.Join(", ", Model.ElementAt(i + j).ItemDisasters.Select(i => i.Disaster.Name).ToArray())
                            <hr style="margin: 0px; margin-top: 2px" />
                            Quantity:
                            <br />
                            <i class="plusminus fas fa-minus fa-xs" onclick="dec_quantity(event, @id)"></i>
                            <span id="quant_@id" name="quant_@id" style="user-select: none;">1</span>
                            <i class="plusminus fas fa-plus fa-xs" onclick="inc_quantity(event, @id)"></i>
                        </div>
                        <input class="but" type="button" value="Buy" onclick="buy(event, @id)" />
                    </td>
                    id++;
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/shop.js"></script>
}
